style
  | body {
  |   width: 600px;
  |   margin: 20px auto;
  |   font-family: sans-serif;
  | }
h1 Modulocal
p This app generates calendars for weekly rotating events/duties.
p
  | Subscribe to
  br
  <code>http://modulocal.herokuapp.com/{numberOfGroups}/{myGroup}?topic=topic</code>
  br
  | i.e.
  br
  code
    a(href="http://modulocal.herokuapp.com/5/4?topic=Küchendienst") http://modulocal.herokuapp.com/5/4?topic=Küchendienst
    br
    small (This will give you a week long event called <em>Küchendienst</em> every fifths week starting with the fourth week of the year.)
